@model IEnumerable<MenuItem>

<ul class="navbar-nav me-auto mb-2 mb-md-0"> @foreach (var item in Model) {
@if (item.IsPage) {
    <li class="nav-item">
    <a class="nav-item nav-link @item.Active" asp-area="@item.Area"
       asp-page="@item.Page"> @item.Text
    </a>
    </li>
}
    
else
{
    <li class="nav-item">
    <a class="nav-item nav-link @item.Active"
       asp-controller="@item.Controller" asp-action="@item.Action">
        @item.Text
    </a>
    </li>}
                                                 
                                             }
</ul>